<h1>Listing Client Shops</h1>

<table>
  <tr>
    <th>Domain</th>
    <th>Name</th>
    <th>Shopify store</th>
    <th>Email</th>
    <th>Name</th>
    <th>Shop-owner</th>
    <th>Active-subscription-id</th>
  </tr>

<% @client_shops.each do |client_shop| %>
  <tr>
    <td><%=h client_shop.domain %></td>
    <td><%=h client_shop.name %></td>
    <td><%=h client_shop.shopify_store_id %></td>
    <td><%=h client_shop.email %></td>
    <td><%=h client_shop.name %></td>
    <td><%=h client_shop.shop_owner %></td>
    <td><%=h client_shop.active_subscription_id %></td>
    <td><%= link_to 'Show', client_shop %></td>
    <td><%= link_to 'Edit', edit_client_shop_path(client_shop) %></td>
    <td><%= link_to 'Destroy', client_shop, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

