<% form_for(@receiving, :url => {:controller => 'receivings', :action => 'create'}) do |receiving_form| %>
  <div class="box"><div class="wrapper">
  <%= receiving_form.hidden_field(:shopify_store_id)%>
    <table>
      <thead>
        <tr><td>Product Variant</td><td>Current Shopify Stock</td><td>Received</td><td colspan="2">New Total</td></tr>
      </thead>
      <tbody>
        <% @receiving.receiving_items.each do |si| %>
          <% receiving_form.fields_for(:receiving_items, si) do |receiving_item_form| %>
          <%= receiving_item_form.hidden_field(:variant_id) %>
          <%= receiving_item_form.hidden_field(:product_id) %>
          <tr class="receivingItem">
            <td>
                <%= receiving_item_form.text_field(:title, :disabled => "disabled", :size => si.title.length) %>
                <%= receiving_item_form.hidden_field(:title) %>
            </td>
            <td class="oldCount">
              <%= ShopifyAPI::Variant.find(si.variant_id, :params => { :product_id => si.product_id }).inventory_quantity %>
            </td>
            <td class="newCount"><%= receiving_item_form.text_field(:count, :size => 4, :onchange => 'new_total(this);') %></td>
            <td class="newTotal">&nbsp</td>
            <td><%= error_message_on(si, :count) %></td>
          </tr>
          <% end %>
        <% end %>
        <tr>
            <td><label for="receiving_po_number">Purchase Order #: </label></td>
            <td colspan="3"><%= receiving_form.text_field(:po_number)%></td>
            <td colspan="1"><%= error_message_on(@receiving, :po_number)%></td>
        </tr>
        <tr>
            <td><label for="receiving_created_by">Staff Member: </label></td>
            <td colspan="3"><%= receiving_form.text_field(:created_by)%></td>
            <td colspan="1"><%= error_message_on(@receiving, :created_by)%></td>
        </tr>  
      </tbody>
    </table>
  
  </div></div>
  <br />
  <%= submit_tag("Process Receiving") %>
<% end %>