<h1 class="blue">Receivings</h1>
<% if @receivings.blank? %>
  <div class="box wrapper">
    <em class="note">You have not done any <strong>receivings</strong> yet.</em>
  </div>
<% else %>
  <div class="box wrapper">
  <table>
    <thead>
      <tr><td>Date</td><td>PO #</td><td>Employee</td><td colspan="2">&nbsp;</td></tr>
    </thead>
    <tbody>
    <% @receivings.each do |receiving| %>
      <tr>
        <td><%= link_to(receiving.created_at , {:action => 'show', :id => receiving.id}) %></td>
        <td><%=h receiving.po_number %></td>
        <td><%=h receiving.created_by %></td>
        <td><%= link_to 'X', receiving, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
<% end #if %>
<p><%= link_to("Add a Receiving", {:action => 'new', :controller => 'receivings'}, :method => :get) %></p>

