<h1 class="blue">Receivings</h1>
<div class="box">
<table>
	<thead>
		<tr><td>Date</td><td>PO #</td><td>Staff Member</td><td colspan="2">&nbsp;</td></tr>
 	</thead>
 	<tbody>
 	    <% message = "Are you sure you want to delete this receiving?" %>
 	    <% @receivings.each do |receiving| %>
 	    <tr>
 	        <td><%= link_to(receiving.created_at, :action => 'show', :id => receiving.id) %></td>
 	        <td><%= receiving.po_number%></td>
 	        <td><%= receiving.created_by %></td>
 	        <td><%#= link_to("Edit", {:action => 'edit', :id => receiving.id}, :method => :get) %> </td>
 	        <td><%= link_to("X", {:action => 'destroy', :id => receiving.id}, :confirm => message, :method => :delete) %></td>
 	    </tr>
 	    <% end #each %>
 	</tbody>
</table>
</div>
<%= link_to("Add Receiving", {:action => 'new', :controller => 'receivings'}, :method => :get) %>