<h1 class="blue">Receiving</h1>
<h2>PO #: <span class="highlight"><%= @receiving.po_number || "Unspecified" %></span></h2>
<h2>Date: <span class="highlight"><%= @receiving.created_at %></span></h2>
<h2>Staff Member: <span class="highlight"><%= @receiving.created_by || "Unknown" %></span></h2>

<div class="box">
    <h2>Recieved:</h2>
    <table>
    	<thead>
    		<tr><td>Product Variant</td><td>Sku</td><td>Received</td></tr>
     	</thead>
    	<tbody>
        <% @receiving.receiving_items.each do |si| %>
            <tr>
                <td><%= si.title %></td>
                <td><%= si.sku || "(no sku?)" %></td>
                <td><%= si.count %></td>
            </tr>
        <% end #each %>
        <tbody>
    </table>
</div>

<%= link_to("All Receivings", {:action => 'index'}, :method => :get) %>