<h1 class="blue">About inStock</h1>
<div class="forReading">
  <h2>What?</h2>
  <p>inStock is an inventory management application for Shopify. It is ment to make updating stock levels in Shopify easier. Especially when doing updates like receivings which affect more than one product.You can use inStock to track inventory levels via stock audits, adjust inventory levels with stock adjustments, and receive shipments.</p>
  <h2> <span class="beta">Beta</span>? </h2> 
  <p>inStock is currently in a <span class="beta"> beta </span> phase. Plese use it for <em>free</em> and help us chase away the <em>bugs</em>. If you find a <em>bug</em> please <%= link_to("report", "http://getsatisfaction.com/bazaar_consulting/topics/new?topic[products]=inStock") %> it, as a problem on Get Satisfaction, so we can make inStock even better. For feature suggestions use Get Satisfaction to submit an <%= link_to("idea", "http://getsatisfaction.com/bazaar_consulting/topics/new?topic[products]=inStock") %>. Sign up for our free 1-month <span class="beta">beta</span> period at the <%= link_to("Shopify App Store", "http://apps.shopify.com/shopify_applications/9b8ca7d587384d00267255bfd98cfe65") %>. The free <span class="beta">beta</span> expires on August 31st.</p>
  <h2>Features</h2>
  <p>
    <ul>
      <li>inStock will track Receiving, Stock Adjustmnt, and Stock Audit data to let you know who did what and when they did it. </li>
      <li>Use <%= link_to("Receivings", :controller => 'receivings') %> to track inventory you recieve from your vendors. (update stock counts quickly for all products recieved) </li>
      <li>Use <%= link_to("Stock Adjustments", :controller => 'stock_adjustments')%> when inventory counts change for reasons other than receiving or sales.</li>
      <li>Periodicaly use <%= link_to("Stock Audits", :controller => 'stock_audits') %> to make sure the inventory count in Shopify matches up with how many item you actually have on hand. (better safe than sorry)
    </ul>
  </p>
  
</div>