<h1>Editing stock_adjustment</h1>

<% form_for(@stock_adjustment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :shopify_store_id %><br />
    <%= f.text_field :shopify_store_id %>
  </p>
  <p>
    <%= f.label :reason %><br />
    <%= f.text_field :reason %>
  </p>
  <p>
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @stock_adjustment %> |
<%= link_to 'Back', stock_adjustments_path %>