<h1 class="blue">Stock Adjustment</h1>
<h2>Reason: <span class="highlight"><%= @stock_adjustment.reason %></span></h2>
<h2>Date: <span class="highlight"><%= @stock_adjustment.created_at %></span></h2>
<h2>Staff Member: <span class="highlight"><%= @stock_adjustment.created_by %></span></h2>

<div class="box">
    <h2>Adjusted Stock:</h2>
    <table>
      <thead>
        <% 
          reason_heading = case(@stock_adjustment.reason)
          when "Defective" : "Defectives"
          when "Donation"  : "Donated"
          when "Found"     : "Found"
          else
            "Adjusted"
          end #case
        %>
        <tr><td>Product Variant</td><td>Sku</td><td><%= reason_heading %></td></tr>
      </thead>
      <tbody>
        <% @stock_adjustment.stock_adjustment_items.each do |si| %>
            <tr>
                <td><%= si.title %></td>
                <td><%= si.sku || "(no sku?)" %></td>
                <td><%= si.count %></td>
            </tr>
        <% end %>
        <tbody>
    </table>
</div>

<%= link_to("All Stock Adjustments", {:action => 'index'}, :method => :get) %>