<% if @products.blank? %>

  <em class="note">There are no products in your store.</em>

<% else %>

  <% @vendors.each do |vendor| %>
    <h2><%= vendor %></h2>
      <% @products[vendor].each do |product| %>
        <div class="product box">
          <div class="wrapper">
            <h2><%= link_to product.title, "http://#{current_shop.url}/admin/products/#{product.id}" %></h2>
            <% product.variants.sort{|a,b| a.title.casecmp(b.title)}.each do |variant| %>

              <h4><%= variant.title %> <small>(sku: <%= variant.sku %>)</small></h4>
              <p>Expected number on hand: <%= variant.inventory_quantity %></p>
              <div style="clear:left"></div>
            <% end %>
          </div>
        </div>
      <% end %>
  <% end %>
<% end %>
