<h1 class="blue">Enter Stock Audit</h1>
  <%= error_messages_for :audit %>
  <table>
    <thead>
      <tr>
        <td>Variant</td>
        <td>Shopify Count</td>
        <td>Alocated To Orders</td>
        <td>Expected On Hand</td>
        <td>Actual Count</td>
        <td>Difference</td>
      </tr>
    </thead>
    <tbody>
      <%= form_for @audit, :url => stock_audits_path(@audit), :validate => true do |audit| %>
        <% even_or_odd_vendor = 1 %>
        <% @vendors.each do |vendor| %>
          <% even_or_odd_vendor = (even_or_odd_vendor - 1).abs %>
            <% @products[vendor].each do |product| %>
              <tr>
                <td colspan="6" class="vendor<%= even_or_odd_vendor %>">
                  <%= link_to product[0], "http://#{current_shop.domain}/admin/products/#{product[1]}" %>
                  (<%= vendor %>)
                </td>
              </tr>
              <% even_or_odd_variant = 1 %>
              <% @audit.stock_audit_items.select{ |item| item.product_title == product[0] }.each do |variant| %>
                <%= audit.fields_for :stock_audit_items, @audit.stock_audit_items.select{|item| item.variant_id == variant.variant_id}.first do |item| %>
                <% even_or_odd_variant = (even_or_odd_variant - 1).abs %>
                  <tr class="variant<%= even_or_odd_variant %><%= even_or_odd_vendor %>">
                    <td><%= variant.title %> <small>(sku: <%= variant.sku %>)</small></td>
                    <td><%= variant.shopify_count %></td>
                    <td><%= variant.pending_count %></td>
                    <td class="expected"><%= variant.expected_count %></td>
                    <td class="actual"><%= item.text_field :actual_count, :size => 4, :onchange => "calculate_difference(this)" %></td>
                    <td class="difference">0</td>
                  </tr>
                  <%= item.hidden_field :product_id, :value => variant.product_id %>
                  <%= item.hidden_field :variant_id, :value => variant.variant_id %>
                  <%= item.hidden_field :title, :value => variant.title %>
                  <%= item.hidden_field :sku, :value => variant.sku %>
                  <%= item.hidden_field :expected_count, :value => variant.expected_count %>
                  <%= item.hidden_field :vendor, :value => variant.vendor %>
                  <%= item.hidden_field :shopify_count, :value => variant.shopify_count %>
                  <%= item.hidden_field :product_title, :value => variant.product_title %>
                  <% end %>
                <% end %>   
              <% end %>
            <% end %>
        </tbody>
    </table>
    Enter your name: <%= audit.text_field :created_by %>
    <%= audit.hidden_field :shopify_store_id, :value => current_shop.id %>
    <%= submit_tag 'Complete Audit' %>
  <% end %>
