  <%= error_messages_for :audit %>
  
  <table>
    <thead>
      <tr>
        <td>Variant</td>
        <td>Shopify Count</td>
        <td>Alocated To Orders</td>
        <td>Expected On Hand</td>
        <td>Actual Count</td>
        <td>Difference</td>
      </tr>
    </thead>
    <tbody>
      <% form_for @audit do |audit| %>
        <% @vendors.each do |vendor| %>
          <tr><td colspan="6" class="dark"><%= vendor %></td></tr>
            <% @products[vendor].each do |product| %>
              <tr>
                <td colspan="6" class="light">
                  <%= link_to product.title, "http://#{current_shop.url}/admin/products/#{product.id}" %>
                </td>
              </tr>
              <% @variants[product].each do |variant| %>
                <% audit.fields_for :stock_audit_items, @audit.stock_audit_items.select{|item| item.variant_id == variant.id}.first do |item| %>
                  <tr>
                    <td><%= variant.title %> <small>(sku: <%= variant.sku %>)</small></td>
                    <td><%= variant.inventory_quantity %></td>
                    <td><%= 0 %></td>
                    <td><%= variant.inventory_quantity + 0 %></td>
                    <td><%= item.text_field :actual_count, :size => 4 %></td>
                    <td><%= 0 %></td>
                  </tr>
                  <%= item.hidden_field :product_id, :value => product.id %>
                  <%= item.hidden_field :variant_id, :value => variant.id %>
                  <%= item.hidden_field :title, :value => variant.title %>
                  <%= item.hidden_field :sku, :value => variant.sku %>
                  <%= item.hidden_field :expected_count, :value => variant.inventory_quantity %>
                         
                  <% end %>
                <% end %>   
              <% end %>
            <% end %>
        </tbody>
    </table>
    Enter your name: <%= audit.text_field :created_by %>
    <%= submit_tag 'Complete Audit' %>
  <% end %>
