<h1>Shipments</h1>
<div class="box">
<table>
	<thead>
		<tr><td>Date</td><td>PO #</td><td>Staff Member</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 	</thead>
 	<tbody>
 	    <% message = "Are you sure you want to delete this article?" %>
 	    <% @shipments.each do |shipment| %>
 	    <tr>
 	        <td><%= link_to(shipment.created_at, :action => 'show', :id => shipment.id) %></td>
 	        <td><%= shipment.po_number%></td>
 	        <td><%= shipment.created_by %></td>
 	        <td><%= link_to("Edit", {:action => 'edit', :id => shipment.id}, :method => :get) %> </td>
 	        <td><%= link_to("X", {:action => 'delete', :id => shipment.id}, :confirm => message, :method => :delete) %></td>
 	    </tr>
 	    <% end #each %>
 	</tbody>
</table>
</div>
<%= link_to("Add Shipment", {:action => 'receive_shipment', :controller => 'warehouse'}, :method => :get) %>