<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

  <title>inStock</title>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'warehouse' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js' %>
  <%= javascript_include_tag 'jrails' %>
  <%= yield(:custom_js) %>
</head>
	
<body>
  
  <div id="header">
    <h1><%= link_to 'inStock', '/' %></h1>      
    <p id="login-link">  
      <% if current_shop %>
          <span class="note">current shop</span> 
		  <%= link_to "Store", "http://#{current_shop.url}", :class => 'shop_name' %> <span class="note">|</span> 
		  <%= link_to "Admin", "http://#{current_shop.url}/admin/products", :class => 'shop_name' %> <span class="note">|</span>
          <%= link_to 'logout', :controller => "login", :action => 'logout' %>
      <% end %>
    </p>
  </div>

  <div id="container" class="clearfix">
    
 
    <!-- Flash error & notice-->
    <% if flash[:error] %> <div id="flasherrors"><%= flash[:error] %></div><% end %>
    <% if flash[:notice] %><div id="flashnotices"><%= flash[:notice] %></div><% end %>
  
    <!-- begin div.main-->
    <div id="main">
      <%= @content_for_layout %>   
    </div>
    <!-- end div.main -->
        
  </div>
    
</body>
</html>
